body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-family: 'Times New Roman', Times, serif;
    
}
header{
    background: linear-gradient(skyblue, white, skyblue);
}
h1{
    text-align: center;
}
.content{
    display: flex;
    margin:auto;
    
    justify-content: center;
}
ul li{
    
    justify-content: center;
}
.aside{
    display: flex;
    float: right;
    font-size: 22px;
    width: 350px;
    height: 500px;
    border: 1px solid black;
}
.cards{
    
    display: flex;
}