*{
    margin: 0%;
    padding: 0%;
}
h1, h2{
    color: yellowgreen;
}

body{
    background-color: rgb(133, 116, 116);
}
h1{
    text-align: center;
}

header{
    background: linear-gradient(skyblue, white, skyblue);
    width: 100%;
    overflow: hidden;
}

.header{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

header .logo{
    font-size: 50px;
    line-height: 100px;
    float: left;
    overflow: hidden;
    font-family: 'Syne Tactile', cursive;
    text-shadow: 3px 5px #999 ;
}

header nav{
    float: right;
    line-height: 100px;
}

header nav a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition:all 500ms ease;
}

header nav a:hover{
    background: mediumseagreen;
    border-radius: 50px;
}

.center{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    background-color: aliceblue;
    padding: 10px;
    
}
h2{
    text-align: center;
}

.info p{
    font-size: 22px;
}
.info-servicios{
    display: inline-flex;    
}
.article p{
    text-align: left;
}
.article h2{
    text-align: center;
}

.content{
    margin-top: 25px;
}

.carousel{
    padding-top: 25px;
    margin: auto;
    width: 90%;
    overflow: ;
}

.iframe{
    width: 80%;
    margin: auto;
    overflow: auto;
}
footer{
    text-align: center;
}
.service1{
    
    
}

#gif{
    float: left;
    border: 1px solid yellow;
    width: 180px;
    height: 120px;
}
#imgservice{
    float: right;
    border: 1px solid yellow;
    width: 180px;
    height: 120px;
}

@media only screen and (max-width: 800px){
    .contenido{
        width: 80%;
        max-width: 600px;
    }
}