body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
                linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
                linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    font-family: 'Times New Roman', Times, serif;
    
}
header{
    background: linear-gradient(skyblue, white, skyblue);
}
h1{
    text-align: center;
    padding-bottom: 15px;
}
.content{
    display: flex;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 80%;
    margin:auto;
    padding: 15px;
    justify-content: center;
}
span{
    font-size: 32px;
    font-weight: 100;
    padding: 10px;
    display: block;
    text-align: center;
}

.cards{
    text-align: center;
    
}
.card1{
    display: inline-flex;
    border: 1px solid black;
    box-shadow: black 2px 4px 10px;
}
.card2{
    
    display: inline-flex;
    border: 1px solid black;
    box-shadow: black 2px 4px 10px;
}
.card3{
    display: inline-flex;
    border: 1px solid black;
    box-shadow: black 2px 4px 10px;
    
}
.foot{
    text-align: center;
}

@media only screen and (max-width: 800px){
   
}